# Игнорировать виртуальное окружение
venv/
.venv/

# Игнорировать файлы Python
*.pyc
__pycache__/

# Игнорировать файлы логов
*.log
logs/

# Игнорировать файлы IDE
.idea/
.vscode/

# Игнорировать сгенерированные файлы
reports/*
models/*

# Игнорировать временные файлы
*.tmp
*.bak

# Игнорировать секретные данные
config.secret.py
.env
